<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <h1>Redis Chat</h1>
    <div id="messages">
        <input type="text" name="message" id="message" />
        <button id="sendBtn">Send</button>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io("http://localhost:8080")
    
    socket.on("connect",()=>{
        socket.off("message")
        document.getElementById("sendBtn").addEventListener("click",()=>{
            const message = document.getElementById("message").value
            socket.emit("message",{username:"<%=username%>",message})
          
        })
        socket.on("message", ({from,message})=>{
            const messageEl = document.createElement("p")
            messageEl.innerText = `${from}:${message}`
            const messagesElement = document.getElementById("messages")
            messagesElement.appendChild(messageEl)
        })
    })
</script>
</html>